.sumedia-amapn-link {
    width:126px !important;
    max-width:initial !important;
    padding:10px;
    border:1px solid #bbb;
    border-top:2px solid #fc0;
    borde-radius:2px;
    background:#f9f9f9;
    line-height:1.2em;
}

.sumedia-amapn-link a {
    color:#222;
    text-decoration:none;
    font-size:14px;
}

.sumedia-amapn-link p {
    padding:0;
    margin:0;
}

.sumedia-amapn-link-ad {
    font-size:10px;
    margin-top:-32px;
    margin-bottom:8px;
    text-align:center;
    overflow:hidden;
}

.sumedia-amapn-link-amazon-logo {
    margin-bottom:5px;
    text-align:center;
}

.sumedia-amapn-link-image {
    height:126px;
    overflow:hidden;
    text-align:center;
    margin-bottom:10px;
    padding:5px 0;
}

.sumedia-amapn-link-image img {
    height:100%;
    display:inline-block;
}

.sumedia-amapn-link-title {
    height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.sumedia-amapn-link-price {
    font-weight:bold;
    border:1px solid #bbb;
    margin-top:5px;
}

.sumedia-amapn-link-price p {
    font-weight:bold;
    text-align:center;
    margin-top:2px;
}

.sumedia-amapn-link-link {
    border-top: 1px solid #bbb;
    margin: 5px -11px -11px -11px;
    padding: 3px;
    background:linear-gradient(#fa0, #f90);
    height:33px;
}

.sumedia-amapn-link-link:after {
    content:'';
    display:table;
    height:0;
    clear:both;
}

.sumedia-amapn-link-link img {
    float:left;
}

.sumedia-amapn-link-link p {
    font-size:14px;
    font-weight:bold;
    display:inline-block;
    margin: 2px 0 0 10px;
    float:left;
    width:calc(100% - 60px);
    height:100%;
}